$banner_image: url('../images/banner.png');
$about_image: url('../images/banner.gif');
$background-image: url('../images/bg.png');
$background-image-web: url('../images/bg_web.png');
$banner-web: url('../images/banner_web.png');

$comment-background-image: url("../images/comment.webp");
$select_text: #fcfcfc;
$select_text_bg: #262a30;
$text: #000;
$text_alt: #666;
$link: #1e8cdb;
$link_hover: #6ec3f5;
$border: #3c495b3a;
$tag_background: #fffd;
$card_background: #ffffffcc;
$page_background: #f5f5f5;
$info_background: #efefefaa;
$navbar_desktop: #181c274a;
$navbar_mobile: #16171a71;
$test: #00ff00;

@import './base.scss';